beautifulsoup4==4.15.0
ghp-import==2.1.0
numpy==1.26.4
pandas==1.5.3
pandas-datareader
scipy==1.18.1
plotly==5.24.1
markdown==3.4.4
matplotlib==3.11.1
nbconvert==5.6.1
jinja2<3
MarkupSafe<2.2
nbformat<5.12
networkx==3.6.1
seaborn==0.13.2
ipyleaflet==0.20.0
geopandas==0.13.2
ipywidgets==8.1.9
pelican==4.12.0
Pillow==9.5.0
psutil==5.9.8
randomcolor==0.4.4.6
