* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* --------------------------
 * Element Styles
 * --------------------------
*/

body {
    min-width: 320px;
    background-color: #fff;
    color: #777;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba;
    text-decoration: none;
}

a:visited {
    color: #265778;
}

.layout {
    padding: 2em 0;
}

.main-menu {
    padding: 2em 0;
}

.header {
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
    letter-spacing: 0.05em;
}

.header h1 {
    font-size: 300%;
    font-weight: 100;
    margin: 0;
}

.header h2 {
    font-size: 125%;
    font-weight: 100;
    line-height: 1.4;
    margin: 0;
    color: #666;
    letter-spacing: -0.02em;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 1440px;
}

.content .content-subhead {
    margin: 2em 0 1em 0;
    font-weight: 300;
    color: #888;
    position: relative;
}

.content .content-spaced {
    line-height: 1.8;
}


/* --------------------------
 * Responsive Styles
 * --------------------------
*/

@media screen and (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
    .header h1 {
        font-size: 320%;
    }
    .header h2 {
        font-size: 128%;
    }
    .content p {
        font-size: 1.125em;
    }
}