{% extends "base.html" %}

{% block meta %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />

<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />

{% if article.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ article.url }}" hreflang="{{ article.lang }}" />
{% for a in article.translations %}
<link rel="alternate" href="{{ SITEURL }}/{{ a.url }}" hreflang="{{ a.lang }}" />
{% endfor %}
{% endif %}

{% include "partial/og_article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
    integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg=="
    crossorigin="anonymous"></script>

<article>
    <header class="header">
        <h1 id="{{ article.slug }}">{{ article.title }}</h1>
        <p>
            {{ _('Posted on %(when)s in %(category)s',
           when=article.locale_date,
           category='<a href="%s/%s">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}

            {% if 'post_stats' in PLUGINS %}
            &#8226; {{ _('%(minutes)s min read', minutes=article.stats['read_mins']) }}
            {% endif %}
        </p>
    </header>

    <div class="content">
        {{ article.content }}
    </div>

    <div class="content tag-cloud">
        <p>
            {% if article.tags %}
            {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
            {% endif %}
        </p>
    </div>

    {% include "partial/neighbors.html" %}

    {% if article.related_posts %}
    <div class="content related-posts">
        <h4>{{ _('You might enjoy') }}</h4>
        <ul class="related-posts">
            {% for related_post in article.related_posts %}
            <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</article>
{% endblock %}