{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions and 'jinja2.ext.i18n' not in JINJA_EXTENSIONS %} {%- macro _(msg) -%} {{ msg % kwargs }} {%- endmacro -%} {% endif %}

<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/brands.min.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/solid.min.css">

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/main.css">
    
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" /> {% endif %} {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" /> {% endif %} {% block extra_head %}{% endblock extra_head %} {% if FAVICON %}
    {% endif %}

    {% if GOOGLE_ANALYTICS %} {% include "partial/ga.html" %} {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Microsoft EDGE -->
    <meta name="msapplication-TileColor" content="{{ BROWSER_COLOR }}"> {% endif %} {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" /> {% include "partial/og.html" %} {% endblock %}

    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
    {% endblock head %}
</head>

<body class="layout">
    <main class="main">
        <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable main-menu content">
            <a href="{{ SITEURL }}" class="pure-menu-heading pure-menu-link">{{ SITENAME }}</a>

            <ul class="pure-menu-list">
                {% for title, link in MENUITEMS %}
                <li class="pure-menu-item"><a href="{{ link }}" class="pure-menu-link">{{ title }}</a></li>
                {% endfor %} {% if DISPLAY_PAGES_ON_MENU -%} {% for pg in pages %}
                <li class="pure-menu-item{% if pg==page %} active{% endif %}">
                    <a href="{{ SITEURL }}/{{ pg.url }}" class="pure-menu-link">{{ pg.title }}</a>
                    </li>
                    {% endfor %} {% endif %} {% if DISPLAY_CATEGORIES_ON_MENU -%} {% for cat, null in categories %}
                    <li class="pure-menu-item{% if pg==category %} active{% endif %}">
                        <a href="{{ SITEURL }}/{{ cat.url }}" class="pure-menu-link">{{ cat }}</a>
                        </li>
                        {% endfor %} {% endif %}
            </ul>

            <ul class="pure-menu-list float-right social">
                {% if FEED_ALL_ATOM %}
                <li class="pure-menu-item">
                    <a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" class="pure-menu-link" type="application/atom+xml" rel="alternate">atom feed</a>
                </li>
                {% endif %} {% if FEED_ALL_RSS %}
                <li class="pure-menu-item">
                    <a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" class="pure-menu-link" type="application/rss+xml" rel="alternate">rss feed</a>
                </li>
                {% endif %} {% for name, link in SOCIAL %}
                <li class="pure-menu-item">
                    <a class="pure-menu-link sc-{{ name }}" href="{{ link }}" target="_blank">
                        <i class="{% if name in ['rss'] %}fas{% else %}fab{% endif %} fa-{{ name }}"></i>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        {% block content %} {% endblock %}
    </main>

    {% include "partial/jsonld.html" %} {% if GITHUB_CORNER_URL %} {% include 'partial/github.html' %} {% endif %} {% block additional_js %}{% endblock %}
</body>

</html>